{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content6 %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">
  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>
  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
{% blocktrans %}
 {% endblocktrans %}

<!-- <img src="{% static 'icon/sn11.jpg' %}" width="100%" height="32%" alt="" class="mb-2"> -->
<img src="{% static 'icon/snfd1.jpg' %}" width="100%" height="35%" alt="" class="mb-2">


{% endif %}
<form method="post">
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-outline-info btn-block mb-1">Login</button>
</form>
<a class="primaryAction btn btn-outline-primary float-right btn-block" href="{{ signup_url }}">회원 가입</a>
<br><br><br>

{% endblock %}

{% block sidearea6 %}

<h5>askclass level1 : 장고 기본</h5>
<table class="table table-bordered">
    <tr>
        <td>
            <a href="http://terecal-hyun.co.kr/skilnote1/myshortcut/django-basic1/1">django-basic1</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://terecal-hyun.co.kr/skilnote1/myshortcut/django-basic2/1">django-basic2</a>
        </td>
    </tr>
</table>

<h5>askclass level2 : drf 기본</h5>
<table class="table table-bordered">
    <tr>
        <td>
            <a href="http://terecal-hyun.co.kr/skilnote1/myshortcut/drf-basic-level1/1">drf-basic-level1</a>
        </td>
    </tr>
</table>

<h5>askclass level3 : drf + instagram</h5>
<table class="table table-bordered">
    <tr>
        <td>
            <a href="http://terecal-hyun.co.kr/skilnote1/myshortcut/drf-instagram/1">drf-instagram</a>
        </td>
    </tr>
</table>

<pre>
    skilnote-for-java:
    https://github.com/hyunsokstar/skilnote-for-java

    typescript:(장기효 타입 스크립트 기초 강의 level1 87강 완료)
    https://github.com/hyunsokstar/skilnote-for-frontend

    skilnote 실행 방법:
    1. 깃 허브에서 다운 로드
    2. 폴더 이동
    3. 가상 환경 활성화
    venv\Scripts\activate.bat
    4.서버 실행
    python manage.py runserver 8010
</pre>


{% endblock %}



<script type="text/javascript">
{% block extra_js %}
    $(document).ready(function(){
        console.log("로그인 페이지")
    });
{% endblock %}
</script>
